body {
    background-color: lightgray;
}

.container{
margin-top: 200px;
margin-left: 400px;
margin-bottom: 400px;
margin-right: 400px;
padding: 250px;
text-align: center;
border: 1px;
background-color: white;
}



