body {
    background-color: lightgray;
}

.container{
    margin: 250px;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    border-radius: 50px;
    background-color: black;




}

